Chatbot_Limpo_v2.json
{
  "name": "Chatbot",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "304a2871-16a3-4255-a472-4b84b9457bec",
              "name": "IDcontato",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "db8486c9-7d44-460c-8726-4742e9cf9702",
              "name": "Mensagem",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "034c5e67-9985-4a19-a74d-12566f8b96c1",
              "name": "Nome",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -96
      ],
      "id": "4f71a9fe-4001-4a4c-a684-9e42cd50b2cc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um suporte particular que funciona como um especie de secretaria, seu objetivo é avisar ao usuario que entrar em contato que no momento estou ocupado, jogando, estudando ou trabalhando.\nSeja cordeal e simpatico alem de humano, use emojis."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        -96
      ],
      "id": "ed373c95-c368-4e61-bc8d-0b3db0eedd92",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "groq/compound",
        "options": {
          "maxTokensToSample": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        224
      ],
      "id": "3f079976-56eb-41af-b7c2-8e8bc5274796",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "REDACTED_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "106f108a-ed35-4c7b-bd50-92d4776c4af8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagem-zapi",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -112
      ],
      "id": "47c2b8d9-04b1-4470-8762-a2b78c5d7924",
      "name": "Webhook",
      "webhookId": "f6f30ab1-d548-4f10-9848-9dd9d4104958"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "950e60ea-7c0b-42c7-8f8c-258723e7e5c0",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "34322cd9-b46b-4946-ac09-405355fec239",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "3d8c9235-6c11-4c90-9f12-7c8c724af8fa",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "76c10d22-a086-4956-a6a5-b8442f19f6e4",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "9faa2a32-15f4-4da3-865c-1b7d00b04b65",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        144,
        128
      ],
      "id": "4bf62528-7093-4b98-a5eb-52a92b3d759a",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EUmZriMZn0m4sq6Xu5tOlEQIjIjIkA6UtGIOuAy0L7A",
          "mode": "list",
          "cachedResultName": "Curso N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUmZriMZn0m4sq6Xu5tOlEQIjIjIkA6UtGIOuAy0L7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 379862253,
          "mode": "list",
          "cachedResultName": "Página2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EUmZriMZn0m4sq6Xu5tOlEQIjIjIkA6UtGIOuAy0L7A/edit#gid=379862253"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp": "={{ $json.IDcontato }}",
            "Nome": "={{ $json.Nome }}"
          },
          "matchingColumns": [
            "Whatsapp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "60ed428c-1b2e-4b58-bf9e-0a6a3eea2e32",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Whatsapp }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        224
      ],
      "id": "31b8df53-aaf9-49d5-b1e3-9a8f5f2d35a1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/REDACTED_INSTANCE_ID/token/REDACTED_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "REDACTED_CLIENT_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.IDcontato }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        -96
      ],
      "id": "caef88b1-a047-4326-9b19-55805e4a7a5b",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "38cdc200-5139-44e9-b142-8d2bb9962cc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f2673715e17c13ec73bd54395eef36fdd4ad72a907c2680f74c0b9b73210dc3"
  },
  "id": "lbJpfGjSSQr18x6O",
  "tags": []
}